<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body style="background-color: rgb(255,255,255);">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white justify-content-between shadow-lg p-3 mb-5">
            <img src="~/images/logo.png" class="navbar-brand" alt="My image" />
            <span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav d-flex justify-content-around mx-4">
                        <button type="button"
                            class="px-4 py-2 mx-4 btn btn-primary font-weight-bold rounded">CADASTRE-SE</button>
                        <a class="nav-item nav-link font-weight-bold mx-4" href="#">LOGIN</a>
                    </div>
                </div>
            </span>
        </nav>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
