<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>

        <nav class="mb-5 navbar navbar-expand-lg navbar-light bg-light shadow d-flex justify-content-between">
            <span class="col-8">
                <a class="navbar-brand" href="#"> <img class="img-fluid" src="~/images/logo.png" alt="logo" /></a>
            </span>
            <span class="">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </span>
            <span class="mr-lg-3 my-3 collapse text-center navbar-collapse" id="navbarNav">
                <ul class="navbar-nav d-flex justify-content-end align-items-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <button type="button" class="mr-lg-4 px-4 py-2 btn btn-primary font-weight-bold rounded-lg">CADASTRE-SE</button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="ml-xlg-2 mr-lg-5 nav-item nav-link font-weight-bold" href="#">LOGIN</a>
                    </li>
                </ul>
            </span>
        </nav>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
