@using System.Globalization
@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Vaga>
@{
    ViewData["Title"] = "Vagas";
}
<div class="container">
    <div class="d-flex justify-content-around align-items-center row">
        <span class="align-middle col-lg-6">
            <h6 class="text-secondary">SOLUÇÕES PARA</h6>
            <h2 class="text-secondary font-weight-bold">CANDIDATOS</h2>
            <p class="text-secondary"><small>Amplie suas possibilidades! Cadastre seu currículo
                    e aproveite os recursos exclusivos que disponibilizamos para você gratuitamente </small> </p>
            <button type="button"
                class="px-4 my-4 py-2 btn btn-primary font-weight-bold rounded-lg">CADASTRE-SE</button>
        </span>
        <img src="~/images/destaque.png" class="mh-100 col-lg-6" alt="destaque" />
    </div>
</div>

<span class="container-fluid">
    <div class="bg-primary">
        <div class="text-white text-center py-5">
            <div class="container">
                <h1 class="mb-sm-5">Confira nossas vagas disponíveis</h1>
            </div>
            <div class="container">
                <span class="d-flex flex-wrap justify-content-between justify-content-md-start">
                    @foreach (Vaga vaga in Model)
                    {
                        <span class="my-4 text-left col-6 col-md-4 col-lg-3" overflow=hidden>
                            <h5>@vaga.Titulo</h5>
                            <div>
                                <i class="fas fa-map-marker-alt"></i>
                                <span class="small-text"> @vaga.Localizacao </span>
                            </div>
                            <div>
                                <i class="fas fa-money-bill-wave fa-xs"></i>
                                <span class="small-text">
                                    @vaga.Salario.ToString("C", CultureInfo.CreateSpecificCulture("pt-BR") )
                                </span>
                            </div>
                        </span>
                    }
                </span>
            </div>
        </div>
    </div>
</span>

<div class="container">
    <div class="text-center align-middle my-5">
        <h3 class="my-5 text-secondary">Faça parte você também</h3>
        <button type="button" class="px-5 py-3 btn btn-primary btn-lg font-weight-bold rounded-lg">CADASTRE-SE</button>
    </div>
</div>